{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Online Shop{% endblock %}</title>
</head>

<body class="bg-gray-100">

    <!-- Navbar -->
    {% include "navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Static JS -->
    <script src="{% static 'js/style.js' %}"></script>

</body>
</html>