<header class="flex items-center justify-between bg-zinc-900 text-white px-10 py-4">

    <!-- LOGO -->
    <div class="text-xl font-bold text-cyan-400 flex items-center gap-2">
        <span class="material-icons">shopping_cart</span>
        Online do'kon
    </div>

    <!-- MENU -->
    <nav class="flex gap-6">
        <a href="#" class="text-gray-300 hover:text-cyan-400 transition">Kategoriyalar</a>
        <a href="#" class="text-gray-300 hover:text-cyan-400 transition">Barcha maxsulotlar</a>
        <a href="#" class="text-gray-300 hover:text-cyan-400 transition">Aksiyadagi maxsulotlar</a>
    </nav>

    <!-- LOGIN -->
    <a href="{% url 'login' %}" class="flex items-center gap-2 bg-cyan-400 text-black px-4 py-1 rounded hover:bg-cyan-500 transition">
        <span class="material-icons text-sm">login</span>
     Kirish
    </a>

</header>